.posts{
    padding-top: 50px;
}

.post{
    padding: 25px 0;
}

.post a{
    display: inline-block;
    width: 100%;
}

.con-post{
    width: 70%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
}

.thumbnail{
    background-color: rgb(224, 224, 224);
    width: 150px;
    height: 150px;
}

.post_img{
    background-image: url("../_src/web/postthumbnail_sample.png");
    background-size: cover;
    background-position: center;
}

.wrap-text{
    position: relative;
    padding-left: 15px;
    width: calc(100% - 150px);
    display: flex;
    flex-wrap: wrap;
}

.text-head{
    text-align: right;
    padding-right: 18px;
    line-height: 30pt;
    font-size: 18pt;

    width: 40%;
}

.text-head h3, 
.text-head h4, 
.text-head p,
.text-body p:first-of-type{
    height: 30pt;
    overflow: hidden;
} 

.text-body p:last-of-type{
    height: 60pt;
    overflow: hidden;
}

.text-head h3{
    font-weight: border;
    height: 30pt;
}
.text-head h4{
    font-weight: 400;
}
.text-head p{
    font-size: 14px;
    font-weight: 400;
}

.text-body{
    width: 60%;

    line-height: 30pt;
    font-size: 18pt;
}

.text-body p span{
    font-weight: bold;
}
.text-body p{

    font-weight: 400;
}
