.post{
    padding: 25px 0;
}

.con-post{
    width: 70%;
    height: 50%;

    margin: auto;
    display: flex;
    align-items: center;
}


.thumbnail img{
    vertical-align: bottom;
    margin-right: 50px;
}

.wrap-text{
    width: 100%;
    position: relative;
    display: flex;
}

.text-head{
    width: 50%;
    float: left;

    text-align: right;
    padding-right: 18px;

    line-height: 30pt;
    font-size: 18pt;
}

.text-head h3, 
.text-head h4, 
.text-head p,
.text-body p:first-of-type{
    height: 30pt;
    overflow: hidden;
} 

.text-body p:last-of-type{
    height: 60pt;
    overflow: hidden;
}

.text-head h3{
    font-weight: border;
    height: 30pt;
}
.text-head h4{
    font-weight: 400;
}
.text-head p{
    font-size: 14px;
}

.text-body{
    float: left;
    line-height: 30pt;
    font-size: 18pt;
}

.text-body p span{
    font-weight: bold;
}